<template>
  <section class="ui raised segment">
    <div class="ui grid">
      <div class="ui ten wide column">
        <div class="ui stacked fluid form segment">
          <form submit.trigger="editUser()">
            <h3 class="ui header">Update</h3>
            <div class="two fields">
              <div class="field">
                <label>First Name</label> <input value.bind="firstName" value="${user.firstName}" type="text" >
              </div>
              <div class="field">
                <label>Last Name</label> <input value.bind="lastName" value="${user.lastName}" type="text" >
              </div>
            </div>
            <div class="field">
              <label>Email</label> <input value.bind="email" value="${user.email}" type="text" >
            </div>
            <div class="field">
              <label>Password</label> <input value.bind="password" value="${user.password}" type="password" >
            </div>
            <button class="ui blue submit button">Save</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>
